@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Inter:wght@300;400;500&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #967bb6;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
.font-serif {
  font-family: "Cormorant Garamond", serif;
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
